<link rel="stylesheet" type="text/css" href="/styles/style.css">

<h1>Mars Rover Photos</h1>

<ul>
  <% solData.forEach(item=> { %>
    <li>
      <img src="<%= item.photos[0].img_src %>" alt="">
      <p>SOL: <%= item.photos[0].sol %></p>
      <p>Earth date: <%= item.photos[0].earth_date %></p>
    </li>
    <% }) %>
</ul>

<h2>
  <%= averageTemp %>
</h2>