* {
  font-family: 'Titillium Web', sans-serif;
}

header {
  text-align: center;
}

ul {
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;
}

li {
  height: 100%;
  min-width: 380px;
  max-width: 500px;
  color: white;
  background: black;
  border-radius: 2em;
  margin: 2em auto;
}

li a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  display:flex;
}

li a img {
  width: 50%;
  border-radius: 2em 0 0 2em;
}

li a p {
  text-align: center;
  margin: auto;
}

