* {
  font-family: 'Titillium Web', sans-serif;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 30vw));
  grid-gap: 2em;
}

li {
  width: 25vw;
  display: grid;
  color: white;
  background: black;
  border-radius: 2em;
  margin: auto;
  min-height: 100%;
}

li a img {
  width: 90%;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 2em 0 0 2em;
  height: 100%;
}

li a p {
  grid-column-start: 2;
}

li a {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-decoration: none;
  color: white;
  font-weight: 300;
}